    <footer>
      <small>© 2022 Daniel Jay-Young Kim</small>
      <section class="socials">
        <a class="socials--link" href="https://daniel-jkim.com/"><i class="fa-solid fa-square-arrow-up-right"></i></a>
        <a class="socials--link" href="https://github.com/danjkim21"><i class="fa-brands fa-square-github"></i></a>
        <a class="socials--link" href="https://www.linkedin.com/in/danieljayyoungkim/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="socials--link" href="https://twitter.com/devdanielk"><i class="fa-brands fa-square-twitter"></i></a>
      </section>
    </footer>
  </body>
</html>