<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a2f02755e4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/images/outpost-logo-dark.svg">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Outpost</title>
  </head>
  <body>
    <header class="header">
      <img class="header--logo" src="/images/outpost-logo.svg" alt="outpost logo">
      <h3 class="header--title">Outpost</h3>
      
      <i class="nav--dropdownBtn fa-solid fa-bars"></i>
      <nav class="nav">
        <ul class="nav--list">
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/login" class="btns--primary">Login</a></li>
          <li><a href="/signup" class="btns--secondary">Sign up</a></li>
        </ul>
      </nav>
    </header>
    <script src="/js/main.js"></script>
  </body>
</html>
