<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a2f02755e4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <title>Dashboard</title>
  </head>
  <body>

    <section class="sidebar">
      <section class="profile">
        <i class="fa-solid fa-user profile--img"></i>
        <span class="profile--userName"><%= user.userName %></span>
      </section>

      <nav class="nav">
        <ul class="sidebar--nav">
          <li><a href="/trips">My Trips</a></li>
          <li><a href="/trips">My Calendar</a></li>
          <li><a href="/trips">Explorer</a></li>
          <li><a href="/trips">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </section>
