<%- include("partials/header") %>

<section class="content--body main">
  <section class="hero about">
    <section class="hero--img">
      <img
        class="hero--img__backdrop"
        src="/images/hero-blob.png"
        alt="hero background shape"
      />
    </section>
    <img
      class="hero--img__cover"
      src="/images/app-graphic-1.png"
      alt="vector human graphic image"
    />
    <section class="hero--content about">
      <h1 class="hero--title">About Us</h1>
      <p>
        Outpost is a free, uniquely designed travel application that serves as a hub for
        planning and keeping track of all your upcoming adventures and ideas.
      </p>
      <p>
        Unload all your thoughts, ideas, tickets, reservations, events, and more, into one
        simple and seamless interface.
      </p>
      <section class="regist--btns">
        <a
          href="/loginDemo"
          class="btns--primary"
        >
          Try Demo Account
        </a>
      </section>
    </section>
  </section>

  <section class="section--appAbout">
    <h2 class="section--title">How It Works</h2>
    <section class="cardsContainer">
      <section class="card">
        <i class="card--icon fa-regular fa-pen-to-square"></i>
        <h3 class="card--title">Plan At Ease</h3>
        <p class="card--desc">
          Our minimal interface allows you to create, save, and share travel plans at the
          click of a button.
        </p>
      </section>
      <section class="card">
        <i class="card--icon fa-regular fa-clock"></i>
        <h3 class="card--title">Save Time</h3>
        <p class="card--desc">
          Reclaim countless wasted hours combing through your inbox to find flight
          confirmations, receipts, etc.
        </p>
      </section>
      <section class="card">
        <i class="card--icon fa-regular fa-compass"></i>
        <h3 class="card--title">Focus on Exploring</h3>
        <p class="card--desc">
          Create itineraries and save interesting activities so you can spend every moment
          in the world.
        </p>
      </section>
    </section>
  </section>

  <%- include("partials/footer") %>
</section>
