<%- include("partials/header") %>

<section class="content--body main">
  <section class="hero">
    <section class="hero--img">
      <img class="hero--img__backdrop" src="/images/hero-blob.png" alt="hero background shape">
    </section>
    <section class="hero--content">
      <h1 class="hero--title">Welcome to your Travel <span class="textGradient"> Outpost</span></h1>
      <p class="hero--desc">
        Your own personal travel agent, hub, notepad, and planner.
        Outpost makes vacation planning stress-free, providing a sleek interface to create, save, and share travel plans.
      </p>
      <section class="regist--btns">
        <a href="/about" class="btns--primary"> About </a>
        <!-- <a href="/about" class="btns--secondary"> About </a> -->
      </section>
    
    </section>
  </section>


  <%- include("partials/footer") %>
</section>


