<%- include("partials/header") %>

<section class="content--body main">
  <section class="hero">
    <section class="hero--content">
      <h1 class="hero--title">My Travel App</h1>
      <p class="hero--desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda quae ad omnis
        quibusdam iste iusto quos veritatis harum est natus velit maxime repellat corporis
        repudiandae, quo, quisquam dignissimos a beatae!
      </p>
    </section>

    <section class="hero--img"></section>
  </section>

  <!-- <section class="regist--btns">
    <a href="/login" class="btns--primary"> Login</a>
    <a href="/signup" class="btns--secondary"> Signup</a>
  </section> -->

  <%- include("partials/footer") %>
</section>


