/* --------- FLEX LAYOUT FOR SIDE BAR & APP --------- */
body {
  display: flex;
}

/* --------- GENERAL STYLING --------- */
.tripsCard--header {
  background-color: white;
  border: 1px solid #bdc9f4ec;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 3rem;
}
.page--title {
  margin-top: 0;
  font-size: 1.55rem;
  font-weight: 400;
}
.page--subtitle {
  margin: 0;
  font-size: 1.15rem;
}
.page--subtitle b {
  color: #0835d8;
}

/* --------- SIDE BAR STYLING --------- */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 25vw;
  color: white;
  /* background: #496be4; */
  background: #495be4e5;
}

.profile {
  display: flex;
  align-items: center;
  height: 15%;
  padding: 5vh 3.5vw;
}
.sidebar .profile--container {
  height: 32px;
  width: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #496be4;
  border: 2px solid white;
  border-radius: 50%;
}
.profile--container .profile--img {
  font-size: 1.175rem;
}
.sidebar .profile--userName {
  font-size: 1.25rem;
  padding-left: 1rem;
}
.nav {
  height: 85%;
}
.sidebar .sidebar--nav {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar .sidebar--nav li {
  display: block;
  transition: all ease-in-out 85ms;
}
.sidebar .sidebar--nav li:last-child {
  margin-bottom: 1.75rem;
}
.sidebar .sidebar--nav li:nth-last-child(2) {
  margin-top: auto;
}
.sidebar .sidebar--nav li:hover {
  background-color: #6b89ebd6;
}
.sidebar .sidebar--nav a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 2.05vh 3.5vw;
}

.nav--dropdownBtn {
  display: none;
  font-size: 1.25rem;
}
.nav--container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.nav--icons {
  color: white;
  width: 32px;
}

/* --------- MAIN APP STYLING --------- */
.content--body.appmain {
  min-height: 100vh;
  width: 75vw;
  padding-top: 7.5vh;
  margin-left: 25vw;
  background-color: #f3f5fc;
  background-color: #f7f9ff82;
}
/* Modal Styling */
.wrapper {
  position: fixed;
  right: 3.5vw;
  bottom: 5vh;
}
.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 12.5px;
  background-color: #496be4;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}
.wrapper a:hover {
  background-color: #446bf8;
}
.modal--content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #f2f5fd;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  padding: 1em 2em;
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
.modal--close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
/* Destination expanded specific styling */
.modal--content.expanded {
  width: 850px;
  height: 100vh;
  max-height: 90%;
  overflow: auto;
}
.modal.expanded {
  background: rgba(77, 77, 77, 0.45);
}

/* --------- MY TRIPS PAGE STYLING --------- */
/* Add Trip form Styling */
.addTripForm--input {
  height: 40px;
  width: 100%;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid rgb(158, 158, 158);
  background-color: transparent;
}

/* Trips Cards Styling */
.tripsCard--tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}
.tripsCard--title__Upcoming,
.tripsCard--title__Completed {
  display: inline-block;
  cursor: pointer;
  color: #676769ca;
  font-size: 1.15rem;
  margin: 0.5rem 0 0.5rem 0;
}
.tripsCard--title__Upcoming.selected,
.tripsCard--title__Completed.selected {
  color: #000000;
}

.tripsCard {
  display: none;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 40px;
  padding: 1rem 0;
  /* background-color: #ccd6f8c0;
  background-color: white;
  border: 1px solid #bdc9f4ec; */
  /* border: 2px solid #95acffba; */
  border-radius: 4px;
}
.tripsCard.selectedCard {
  display: flex;
}

.tripsCard--upcoming,
.tripsCard--completed {
  height: 380px;
  width: 31.28%;
  border-radius: 4px 4px;
  background-color: white;
  /* border: 1px solid #bdc9f4ec;  */
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2.5px 2.5px 15px 5.5px rgba(163, 163, 163, 0.3);
}
.tripsCard--img {
  height: 220px;
  width: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}
.tripsCard--overview {
  height: 155px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.95rem 1.15rem;
}
.tripsCard--text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 85%;
}
.tripsCard--title,
.tripsCard--date,
.tripsCard--users,
.tripsCard--creation {
  font-size: 0.9rem;
  width: 100%;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tripsCard--title {
  margin: 0;
  font-weight: 600;
}
.tripsCard--date {
  color: #454a6cda;
  font-weight: 500;
  padding-top: 5px;
}
.tripsCard--container {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}
.users--icon {
  font-size: 0.85rem;
  margin-right: 0.5rem;
}
.tripsCard--users {
  font-weight: 500;
}
.tripsCard--creation {
  color: #5c5f72da;
  font-weight: 500;
}
.tripsCard-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.tripsCard-btns > a,
.tripsCard-btns i {
  color: #667dd1;
}
.tripsCard-btns i {
  font-size: 20px;
}
.tripsCard-btns > a:hover,
.tripsCard-btns span:hover {
  cursor: pointer;
}
h4.not:hover {
  cursor: pointer;
  text-decoration: line-through;
}
h4.completed {
  text-decoration: line-through;
}
h4.completed:hover {
  cursor: pointer;
  text-decoration: none;
}

/* --------- TRIPS EDITOR PAGE STYLING --------- */
/* Cover Img Styling */
.trip--cover:hover .changeCoverImg {
  display: block;
}
.trip--coverImg {
  position: absolute;
  right: 0;
  top: 0;
  height: 22.5vh;
  width: 75vw;
  max-width: 75%;
  object-fit: cover;
}
.changeCoverImg {
  display: none;
  position: absolute;
  right: 5.5vw;
  top: 10vw;
}
.changeCoverImg-input {
  width: 185px;
  padding: 5px 5px;
  border: 2px solid #ccd6f8;
  border-radius: 4px 0 0 4px;
}
.changeCoverImg-btn {
  width: 135px;
  padding: 5px 5px;
  color: white;
  background-color: #335ae5;
  border: 2px solid #335ae5;
  border-radius: 0 4px 4px 0;
}

/* Top line info Styling */
.trip--title {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 22.5vh;
  transition: all ease-in-out 85ms;
}
.trip--title:hover {
  background-color: #f0f2fc;
  border-radius: 4px;
}
.trip--user {
  font-weight: 700;
}
.trip--description {
  padding: 0.95rem 0;
  border-top: 1px solid #ccd6f8;
  border-bottom: 1px solid #ccd6f8;
  transition: all ease-in-out 85ms;
}
.trip--description:hover {
  background-color: #f0f2fc;
}

/* Trip Overview Section Styling */
.trip--overview > .overview--details > span {
  display: inline-block;
}
.overview--details > .detail--title {
  padding: 0.35rem;
  padding-right: 1rem;
  width: 30%;
  transition: all ease-in-out 85ms;
}
.detail--title > i {
  color: #667dd1;
  width: 16px;
  margin-right: 0.5rem;
}
.overview--details > .detail--value {
  padding: 0.35rem;
  width: 65%;
  transition: all ease-in-out 75ms;
}
.detail--title:hover,
.detail--value:hover {
  background-color: #f2f5fd;
  border-radius: 4px;
}

/* New Destination Card Item Styling  */
.trip--destinations {
  margin-bottom: 12.5vh;
}
.newDestination {
  margin-bottom: 1.5rem;
}
.newDestination--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  margin-left: 0.5rem;
  padding: 1rem 1rem 1rem 0;
  border-left: 2px solid #99acf294;
  border-radius: 0 4px 4px 0;
  align-items: flex-start;
  transition: all ease-in-out 75ms;
}
.newDestination--item:hover {
  background-color: #f0f2fc;
}
.newDestination--location {
  font-weight: 500;
}
.newDestination--info > .newDestination--location {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.modal--content.expanded > .newDestination--location {
  margin-bottom: 0;
}

.destination--startDate,
.destination--endDate {
  color: #303030;
  background-color: #f2f5fd;
  background-color: white;
  border: 2px solid #ccd6f8;
  padding: 0.2rem 0.35rem;
  border-radius: 4px;
  margin-bottom: 1px;
}
.newDestination--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(251, 252, 254);
  background-color: #f2f5fd;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  left: -0.98rem;
  top: -0.3rem;
}
.newDestination--icon > i {
  color: #99adf2;
  color: #667dd1;
  font-size: 1rem;
}
.newDestination--btns {
  margin-left: auto;
}
.newDestination--btns i {
  color: #667dd1;
}
.newDestination--btns i:hover {
  cursor: pointer;
}
.newDestination--btns.addUser {
  display: none;
  margin-left: auto;
}
.detail--value.addUser {
  display: flex;
  justify-content: space-between;
}
.detail--value.addUser:hover .newDestination--btns.addUser {
  display: inline;
}

/* New Destination Card Modal Content Styling */
.destination--notes {
  padding: 0.95rem 0;
  border-top: 1px solid #ccd6f8;
  border-bottom: 1px solid #ccd6f8;
}
.modal.expanded .content--nav {
  display: flex;
  gap: 0.35rem;
  padding: 0.5rem 0;
  margin: 0.45rem 0;
  width: 100%;
  overflow-y: hidden;
}
.content--tabs {
  background-color: #f2f5fd;
  border: 1px solid #ccd6f8;
  border-radius: 4px;
  padding: 5px 10px;
}
.content--tabs:hover {
  cursor: pointer;
}
.content--tabs.active {
  color: #1d48e4;
  background-color: #ccd6f8;
}
.content--area {
  height: auto;
}

/* Modal Content Tab Display Area Styling */
.content--areaDisplay {
  display: none;
  height: auto;
  /* margin: 0.95rem 0; */
}
.content--areaDisplay.active {
  display: block;
}
.areaDisplay--titles {
  margin: 0.75rem 0;
}

.areaDisplay--titles__cards {
  margin: 0 0 0.65rem 0;
  font-weight: 400;
}
.areaDisplay--section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}
.areaDisplay--card {
  height: 135px;
  width: 215px;
  padding: 1.55rem 1.1rem;
  background-color: #ffffff;
  border: 2px solid #ccd6f8;
  border-radius: 4px;
}
.areaDisplay--card label {
  display: inline-block;
  width: 42.5px;
}
.areaDisplay--card .destination--startDate,
.areaDisplay--card .destination--endDate {
  width: 125px;
}
.areaDisplay--cardStat {
  font-weight: 700;
  font-size: 1.55rem;
}
/* Modal title-form interaction */
.areaDisplay--flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.areaDisplay--flex > .areaDisplay--titles {
  display: inline-block;
  margin-right: 1rem;
}
.destinationDetail--form.hidden {
  display: none;
}
.toggleForm {
  padding: 2.5px 7.5px;
  border-radius: 4px;
  border: 1px solid #1d48e4;
  background-color: #1d48e4;
  color: #ffffff;
  transition: all ease-in-out 85ms;
}
.toggleForm:hover {
  background-color: #2956fa;
  border: 1px solid #2956fa;
  cursor: pointer;
}

/* Modal Destination Form Styling */
.destinationDetail--form {
  padding: 0.65rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  /* border: 2px solid #ccd6f8; */
}
input::-webkit-calendar-picker-indicator {
  opacity: 100;
}
.destinationDetail--label,
.destinationDetail--inpt {
  display: block;
}
.destinationDetail--inpt {
  width: 100%;
  padding: 0.2rem 0.35rem;
  border: 2px solid #ccd6f8;
  border-radius: 4px;
}
.destinationDetail--form__submit {
  min-width: 85px;
  max-width: 100px;
  padding: 0.35rem;
  background-color: #1d48e4;
  border: 1px solid #1d48e4;
  border-radius: 4px;
  color: #ffffff;
  transition: all ease-in-out 85ms;
}
.destinationDetail--form__submit:hover {
  cursor: pointer;
  background-color: #2956fa;
}
.destinationDetail--form__multi > section {
  width: 22.5%;
}
.destinationDetail--form__single,
.destinationDetail--form__multi {
  padding-bottom: 0.55rem;
}
.destinationDetail--form__single input {
  width: 100%;
}
.destinationDetail--form__single.right {
  display: flex;
  justify-content: flex-end;
}
.destinationDetail--form__single.right > .destinationDetail--form__submit {
  width: 22.5%;
}
.destinationDetail--form__multi {
  display: flex;
  justify-content: space-between;
}

/* Accomodations Card */
.newAccomodation,
.newFlight,
.newActivity {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 0.95rem;
}
.newAccomodation--item {
  width: 385px;
  min-height: 160px;
  background-color: #ffffff;
  border: 2px solid #ccd6f8;
  border-radius: 8px;
  padding: 0.85rem;
}
.newAccomodation--item__main {
  padding-bottom: 0.85rem;
  border-bottom: 1px solid #ccd6f8;
}
.newAccomodation--item__main h4 {
  margin: 0 0 0.25rem 0;
}
.newActivity .newAccomodation--item__main {
  display: flex;
  justify-content: space-between;
}
.newAccomodation--item__details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.85rem;
}
.details--dates {
  width: 35%;
  padding-right: 0.85rem;
}
.newFlight .newAccomodation--item__details,
.newActivity .newAccomodation--item__details {
  justify-content: space-between;
}
.details--dates__depart,
.details--dates__arrive {
  width: 40%;
}
.ticket--time {
  font-size: 2rem;
  font-weight: 700px;
}
.details--dates__arrive.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details--dates__arrive > .activityType--tag {
  color: #335ae5;
  background-color: #ccd6f8;
  border: 1px solid #ccd6f8;
  padding: 0.35rem 0.85rem;
  border-radius: 10px;
}
.arrow__right {
  font-size: 1.65rem;
}
.details--address {
  border-left: 1px solid #ccd6f8;
  width: 65%;
  padding-left: 0.85rem;
}
.details--address a {
  text-decoration: none;
  color: #335ae5;
}
.deleteAccom--btn:hover,
.deleteTicket--btn:hover,
.deleteActivity--btn:hover {
  cursor: pointer;
}

/* Add new destination input/btn component */
.newDestination--input {
  padding: 10px 10px;
  width: 300px;
  border: 2px solid #ccd6f8;
  border-radius: 4px 0 0 4px;
  border-right: none;
}
.newDestination--btn {
  padding: 10px 2px;
  width: 35px;
  background-color: #ffffff;
  border: 2px solid #ccd6f8;
  border-radius: 0 4px 4px 0;
  border-left: none;
}
.newDestination--btn i {
  color: #335ae5;
}
.newDestination--btn:hover {
  cursor: pointer;
}

/* --------- MEDIA QUERIES --------- */
@media screen and (max-width: 850px) {
  /* Side Bar */
  .sidebar {
    width: 45px;
    z-index: 1;
  }
  .nav--dropdownBtn {
    display: inline-block;
    padding: 5vh 15px;
  }
  .profile {
    display: none;
  }
  .nav {
    display: none;
  }
  .sidebar.open {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: #495be4f9;
  }
  .sidebar .sidebar--nav li:nth-last-child(2) {
    margin-top: 0;
  }
  .profile.open {
    display: block;
    height: 5rem;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4rem;
  }

  .sidebar .sidebar--nav a {
    text-align: left;
    padding-left: 4rem;
  }
  .nav.open {
    display: block;
    text-align: center;
  }

  /* Main App Right */
  .content--body.appmain {
    width: 100vw !important;
    padding-top: 5.5vh !important;
    margin-left: 45px !important;
  }

  /* Trip Dashboard Page */
  .tripsCard--upcoming,
  .tripsCard--completed {
    width: 47.77%;
  }
  /* Trips Editor Page */
  .trip--coverImg {
    width: 100%;
    max-width: 100%;
    z-index: 0;
  }

  .destinationDetail--form__multi {
    flex-wrap: wrap;
  }
  .destinationDetail--form__multi > section {
    width: 47.5%;
  }
}

@media screen and (max-width: 450px) {
  /* Side Bar */
  .sidebar {
    width: 30px;
    background: rgba(247, 249, 253, 0.5);
  }
  .nav--dropdownBtn {
    display: inline-block;
    padding: 2.5vh 15px;
    z-index: 1;
    font-size: 1.5rem;
    color: #335ae5;
  }
  .content--body.appmain {
    padding-top: 5.5vh !important;
    padding-left: 0px;
    padding-right: 25px;
    margin-left: 30px !important;
  }

  /* Trips Dashboard Page */
  .trip--title {
    margin-bottom: 2rem;
    font-size: 1.55rem;
  }
  .wrapper {
    position: fixed;
    right: 3.5vw;
    bottom: 3.5vh;
  }
  .tripsCard--upcoming,
  .tripsCard--completed {
    width: 100%;
    border-radius: 4px 4px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2.5px 2.5px 15px 5.5px rgba(163, 163, 163, 0.3);
  }
  .tripsCard--img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }

  /* Trips Editor Page */
  .trip--coverImg {
    height: 18vh;
    width: 100%;
    max-width: 100%;
    z-index: -1;
  }
  .trip--title {
    margin-top: 18vh;
  }
  .overview--details > .detail--title {
    width: 45%;
  }
  .overview--details > .detail--value {
    width: 52.5%;
  }
  .newDestination--item {
    height: 135px;
    padding: 1rem 0 1rem 0;
  }
  .newDestination--input {
    width: 90%;
  }
  .newDestination--btn {
    width: 10%;
  }
  .newDestination--btns {
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
  .newDestination--btns i {
    font-size: 1.15rem;
  }

  .deleteDestination--btn {
    margin-top: 8.5px;
  }
  /* Destination Modal */
  .modal--close {
    font-size: 1.55rem;
  }
  .modal--content {
    padding: 0 0.85rem 1rem 0.85rem;
  }
  .areaDisplay--card {
    width: 100%;
  }
}
