/* --------- HEADER STYLING --------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F5FD;
  height: 75px;
  padding: 0 8.75vw;
}
.header--title {
  margin-right: auto;
  font-weight: 400;
  font-size: 20px;
}
.header--logo {
  margin-right: 15px;
  height: 38.5px;
}

/* NAV STYLING */
.nav li {
  display: inline-block;
  margin-left: 5px;
}
.nav a {
  color: black;
  text-decoration: none;
  padding: 7.5px 15px;
}
.nav--list .btns--primary{
  margin-left: 15px;
}

.nav--dropdownBtn {
  display: none;
  font-size: 1.25rem
}
/* --------- LANDING PAGE STYLING --------- */
.content--body.main {
  padding-top: 2.5vh;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 650px;
}
.hero--content {
  width: 50vw;
  z-index: 2;
}
.hero--title {
  font-weight: 400;
}
.hero--desc {
  line-height: 1.35rem;
}
.hero--img {
  overflow: hidden;
}
.hero--img__backdrop {
  position: absolute;
  max-width: 550px;
  left: 10%;
  top: 20%;
  z-index: 0;
}

.btns--primary {
  width: 85px;
  height: 45px;
  padding: 12px 20px;
  text-decoration: none;
  color: #000000;
  background: #FFFFFF;
  border: 2px solid #335AE5;
  border-radius: 4px;

}
.btns--secondary {
  width: 85px;
  height: 45px;
  padding: 12px 20px;
  text-decoration: none;
  color: #FFFFFF !important;
  background: #335AE5;
  border: 2px solid #335AE5;
  border-radius: 4px;
}

.textGradient {
  font-weight: 700;
  background: -webkit-linear-gradient(60deg, #5f5cf2, #7dc8ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* --------- LOGIN/SIGNUP STYLING --------- */
.content--body.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationCard {
  min-width: 300px;
}
.registrationCard--title {
  font-weight: 400;
  text-align: center;
  padding-bottom: 32px;
  margin: 0;
}
.registrationCard--form input {
  display: block;
  margin-top: 8px;
  margin-bottom: 24px;
}
.registration--inpt {
  padding: 10px 5px;
  width: 300px;
  border: 2px solid #CCD6F8;
  border-radius: 4px;
}
.registration--btn {
  padding: 10px 2px;
  width: 300px;
  background-color: #335AE5;
  color: #FFFFFF;
  border: 1px solid #335AE5;
  border-radius: 4px; 
}
.registrationCard--navigate a {
  color: #0031DE;
  text-decoration: none;
}

/* --------- FOOTER STYLING --------- */
footer {
  margin: 1vh 0;
	padding-top: 5.5vh;
	padding-bottom: 5.5vh;
	border-top: 1px solid #70747a46;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer small {
  font-size: 14px;
}
footer .socials--link {
  color:#0030deb6;
  font-size: 25px;
}

/* --------- MEDIA QUERIES --------- */
@media screen and (max-width: 740px){
  /* Header/Nav */
  .nav--dropdownBtn {
    display: inline-block;
  }
  .nav--list {
    display: none;
  }
  .header.open {
    flex-wrap: wrap;
    gap: 50px;
    
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 0 8.75vw;
    z-index: 4;
    background-color: #f2f5fde7;
  }
  .nav.open {
    width: 100vw;
    height: auto;
  }
  .nav--list.open {
    display: block;
    text-align: center;
    height: 87.5vh;
    margin: 0;
    padding: 0;
  }
  .nav--list.open > li {
    margin-bottom: 45px;
    display: block;
  }
  .nav--list .btns--primary{
    margin-left: 0;
  }
  .btns--primary {
    width: 85px;
    height: 45px;
    padding: 12px 20px;
    margin: 0;
  
  }
  .btns--secondary {
    width: 85px;
    height: 45px;
    padding: 12px 20px;

  }

  /* Landing Page Body */
  .hero--content {
    width: 80vw;
  }
  .hero--img__backdrop {
    width: 80vw;
    height: 60vh;
  }
  /* Footer */
}
@media screen and (max-width: 430px){
  
}
